<ion-view view-title="Faltam 2 dias">

  <ion-content class="padding">
    <h2 class="title">{{task.title}}</h2>
    <small>
      {{task.startDate | date:'dd/MM/yyyy'}} - {{task.endDate | date:'dd/MM/yyyy'}}
    </small>
    <br>
    <img ng-src="./img/ionic.png" style="width: 64px; height: 64px">
    <br>
    <p>
      {{task.notes}}
    </p>
  </ion-content>

  <div class="tabs tabs-icon-only tabsTaskDetails">
    <a class="tab-item" ng-click="showModalCopyTask('edit');">
      <i class="icon ion-edit"></i>
    </a>
    <a class="tab-item" ng-click="showModalCopyTask('copy');">
      <i class="icon ion-ios-browsers"></i>
    </a>
    <a class="tab-item" ng-click="confirmRemoveTask();">
      <i class="icon ion-android-delete"></i>
    </a>
  </div>

  <div class="bar bar-footer bar-balanced" ng-click="finishTask(task);">
    <div class="title">
      <i class="icon ion-checkmark" ng-if="!task.fineshed" style="font-size:40px;"></i>
      <i class="icon ion-android-remove" ng-if="task.fineshed" style="font-size:45px;"></i>
    </div>
  </div>
</ion-view>
