<ion-view view-title="Minhas tarefas">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" ng-repeat="task in tasks | orderBy: '-priority'" type="item-text-wrap" href="#/app/tasks/{{task.id}}">

        <i class="icon ion-checkmark-circled icon-accessory" ng-if="task.fineshed" style="color:#4FCC41; font-size: 35px; margin-left: 5px;"></i>

        <i class="icon ion-arrow-graph-up-right icon-accessory" ng-if="!task.fineshed" style="font-size: 35px; margin-left: 5px;" ng-class="{'priority-low': task.priority === 1, 'priority-medium': task.priority === 2, 'priority-high': task.priority === 3}"></i>

        <h2>{{task.title}}</h2>
        <p>{{task.startDate | date:'dd/MM/yyyy'}} - {{task.endDate | date:'dd/MM/yyyy'}}</p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-balanced" ng-click="fineshed(task);">
          <i class="icon ion-checkmark-round" ng-if="!task.fineshed"></i>
          <i class="icon ion-ios-refresh-empty" ng-if="task.fineshed"></i>
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove(task)">
          <i class="icon ion-android-delete"></i>
        </ion-option-button>

      </ion-item>
      <ion-item></ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer footerButtonNewTask">
    <div class="title">
      <i class="icon ion-plus-circled" ng-click="testemichel();"></i>
    </div>
  </div>
</ion-view>
