<ion-view view-title="Faltam 2 dias">

  <ion-content class="padding">
    <h2 class="title">{{task.title}}</h2>
    <small>
      {{task.startDate | date:'dd/MM/yyyy'}} - {{task.endDate | date:'dd/MM/yyyy'}}
    </small>
    <br>
    <img ng-src="./img/ionic.png" style="width: 64px; height: 64px">
    <br>
    <p>
      {{task.notes}}
    </p>
  </ion-content>

  <div class="bar bar-footer bar-balanced" ng-click="finishTask(task);">
    <div class="title">
      <i class="icon ion-checkmark" style="font-size:42px;" ng-if="!task.fineshed"></i>
      <i class="icon ion-android-remove" style="font-size:42px;" ng-if="task.fineshed"></i>
    </div>
  </div>
</ion-view>
