.priority-low { color: #FFE978 !important; }
.priority-medium { color: #FFA700 !important; }
.priority-high { color: #D62323 !important; }
.buttonPriorityMedium { background-color: #FA9805 !important; color: white !important; }
.taskFineshedTextList { text-decoration: line-through; }

.footerButtonNewTask {
	background-color: transparent;
	background-image: none;
}

.footerButtonNewTask > div { text-align: right !important; margin: -15px 20px !important; height: 56px !important;}
.footerButtonNewTask > div > i { font-size: 55px; color: #056DA9;}

.tabsTaskDetails {
	color: #111;
  height: 95px;
}